@color_default: #e5e5e5;
@color_highlight: #29b6f2;
@default_text_color: #333;

.focus {
  // HACK overwrite some heavy-handed quip styles
  border-color: @color_highlight !important;
  outline: 1px @color_highlight;
  box-shadow: 0px 2px 5px #cecece;
}

.surveyQuestion {
  // font-size: 1.1em; // get some feedback on these ideas
  color: #555;
}

.selectReset {
  border-color: @color_default;
  background: white;

  &:focus {
    .focus();
  }
}

.formInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;

  input[type=text],
  input[type=number] {
    flex: 1 0 auto;
    margin-left: 5px;

    &:focus {
      .focus();
    }
  }

  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.formOption {
  margin: 0 auto 5px;
  display: flex;

  input[type=text] {
    flex: 1 0 auto;
    margin-right: 5px;

    &:focus {
      .focus();
    }
  }
}

.formAnswerInput {
  span {
    .surveyQuestion();
  }

  input[type=text] {
    display: block;
    width: 100%;
    margin: 0.5em auto 1.5em;
    padding: 6px;

    &:focus {
      .focus();
    }
  }
}

.formAnswerNumber {
  span {
    .surveyQuestion();
  }

  input[type=number] {
    display: block;
    width: 100%;
    margin: 0.5em auto 1.5em;
    padding: 6px;

    &:focus {
      .focus();
    }
  }
}

.numberHelper {
  font-size: 0.9em;
  flex: 1 0 auto;
  margin-left: 10px;
}

.formAnswerSelect {
  span {
    .surveyQuestion();
  }

  select {
    display: block;
    margin: 0.75em 0 1.5em;
    .selectReset();
  }
}

.formAnswerTextarea {
  span {
    .surveyQuestion();
  }

  textarea {
    margin: 0.5em auto 1.5em;
    padding: 6px;
    width: 100%;
    resize: vertical;

    &:focus {
      .focus();
    }
  }
}

.formAnswerOption {
  display: block;
  margin-bottom: 5px;

  input[type="radio"],
  input[type="checkbox"] {
    display: inline;
    margin-right: 5px;
  }

  span {
    color: @default_text_color;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.answerRow {
  display: flex;
  align-items: baseline;
}

.inputError {
  background: lighten(red, 35%);
}

.checkboxGrid {
  @media screen and (min-width: 400px) {
    column-count: 2;
  }
}

.formSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;

  select {
    flex: 1 0 auto;
    margin-left: 5px;
    .selectReset();
  }
}

.formSection {
  border: 1px @color_default solid;
  border-radius: 6px;
  padding: 5px 10px 10px;
  margin-bottom: 25px;
}

.sectionDescription {
  background: @color_default;
  margin: -5px -10px 10px;
  padding: 10px;
}

.buttonLink {
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  color: #666;
}

.sectionDeleter {
  display: inline;
  font-size: 0.85em;
  .buttonLink();

  &:focus,
  &:hover {
    color: red;
  }

  &:focus:after,
  &:hover:not[disabled]:after {
    // content: "&times;";
    content: "\00d7";
  }

  &:disabled:hover {
    color: #666;
  }
}