@color_default: #e5e5e5;
@color_highlight: #29b6f2;
@default_text_color: #333;

.focus {
  // HACK overwrite some heavy-handed quip styles
  border-color: @color_highlight !important;
  outline: 1px @color_highlight;
  box-shadow: 0px 2px 5px #cecece;
}

.formInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;

  input[type=text] {
    flex: 1 0 auto;
    margin-left: 5px;

    &:focus {
      .focus();
    }
  }
}

.formOption {
  margin: 0 auto 5px;
  display: flex;

  input[type=text] {
    flex: 1 0 auto;
    margin-right: 5px;

    &:focus {
      .focus();
    }
  }
}

.formAnswerInput {
  span {
    // font-size: 1.1em; // get some feedback on these ideas
    color: #555;
  }

  input[type=text] {
    display: block;
    width: 100%;
    margin: 0.5em auto 1.5em;
    padding: 6px;

    &:focus {
      .focus();
    }
  }
}

.formAnswerTextarea {
  span {
    // font-size: 1.1em; // get some feedback on these ideas
    color: #555;
  }

  textarea {
    margin: 0.5em auto 1.5em;
    padding: 6px;
    width: 100%;
    resize: vertical;

    &:focus {
      .focus();
    }
  }
}

.formSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;

  select {
    flex: 1 0 auto;
    margin-left: 5px;
  }
}

.formSection {
  border: 1px @color_default solid;
  border-radius: 6px;
  padding: 5px 10px 10px;
  margin-bottom: 25px;

}

.sectionDescription {
  background: @color_default;
  margin: -5px -10px 10px;
  padding: 10px;
}

.buttonLink {
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  color: #666;
}

.sectionDeleter {
  display: inline;
  font-size: 0.85em;
  .buttonLink();

  &:focus,
  &:hover {
    color: red;
  }

  &:focus:after,
  &:hover:not[disabled]:after {
    // content: "&times;";
    content: "\00d7";
  }

  &:disabled:hover {
    color: #666;
  }
}