@color_default: #e5e5e5;
@color_highlight: #29b6f2;
@default_text_color: #333;

.focus {
  // HACK overwrite some heavy-handed quip styles
  border-color: @color_highlight !important;
  outline: 1px @color_highlight;
  box-shadow: 0px 2px 5px #cecece;
}

.selectReset {
  border-color: @color_default;
  background: white;

  &:focus {
    .focus();
  }
}

.helperText {
  font-size: 0.9em;
  color: #555;
}

.surveyQuestion {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.5em;
}

.surveyHelper {
  margin: 0 0 0.5em;
  .helperText();
}

.surveyOptionHelper {
  display: block;
  margin: 5px 0 0;
  font-style: italic;
  .helperText();

  @media screen and (min-width: 400px) {
    margin-left: 18px;
  }

  @media screen and (max-width: 399px) {
    margin-left: 22px;
  }
}

.formInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;

  input[type=text],
  input[type=number] {
    flex: 1 0 auto;
    margin-left: 5px;

    &:focus {
      .focus();
    }
  }

  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.formOption {
  margin: 0 auto 5px;
  display: flex;
  flex-wrap: wrap;

  input[type=text] {
    flex: 1 0 auto;
    margin-right: 5px;

    &:focus {
      .focus();
    }
    
    &.formOptionHelper {
      margin-right: 0;
      margin-top: 5px;
      flex-basis: 100%;
    }
  }
}

.formHeader {
  width: 100%;
  text-transform: uppercase;
  margin: 0 auto 1em;
  font-size: 1.25em;

  &:not(:first-of-type) {
    margin-top: 2em;
  }
}

.answerList {
  // when the app is not focused, there is a cutoff of the radio buttons
  padding-left: 1px;

  .answerInput,
  .answerSelect,
  .answerTextarea,
  .answerCheckbox,
  .answerRadio {
    margin-bottom: 1.5em;
  }
}

.formAnswerInput {
  input[type=text] {
    display: block;
    width: 100%;
    padding: 6px;

    &:focus {
      .focus();
    }
  }
}

.formAnswerNumber {
  input[type=number] {
    display: block;
    width: 100%;
    padding: 6px;

    &:focus {
      .focus();
    }
  }
}

.numberHelper {
  flex: 1 0 auto;
  margin-left: 10px;
  .helperText();
}

.formAnswerSelect {
  select {
    display: block;
    margin: 0.75em 0 1.5em;
    .selectReset();
  }
}

.formAnswerInput INPUT, .formAnswerNumber INPUT, .formAnswerTextarea TEXTAREA {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.formAnswerTextarea {
  textarea {
    padding: 6px;
    width: 100%;
    resize: vertical;

    &:focus {
      .focus();
    }
  }
}

.formAnswerOption {
  display: block;
  margin-bottom: 10px;

  input[type="radio"],
  input[type="checkbox"] {
    display: inline;
    margin-right: 5px;
  }

  span {
    color: @default_text_color;
  }
}

.answerRow {
  display: flex;
  align-items: baseline;
}

.inputError {
  background: lighten(red, 35%);
}

.checkboxGrid, .checkboxGridColumns {
  margin-top: 1em;
}

.checkboxGridColumns {
  @media screen and (min-width: 400px) {
    column-count: 2;
    column-gap: 40px;
  }
}

.formSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;

  select {
    flex: 1 0 auto;
    margin-left: 5px;
    .selectReset();
  }
}

.formSection {
  border: 1px @color_default solid;
  border-radius: 6px;
  padding: 5px 10px 10px;
  margin-bottom: 25px;
}

.sectionDescription {
  background: @color_default;
  margin: -5px -10px 10px;
  padding: 10px;
}

.sectionFooter {
  margin: 10px -5px 0;
}

.buttonLink {
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  color: #666;
}

.sectionDeleter {
  display: inline;
  font-size: 0.85em;
  .buttonLink();

  &:focus,
  &:hover {
    color: red;
  }

  &:focus:after,
  &:hover:not[disabled]:after {
    // content: "&times;";
    content: "\00d7";
  }

  &:disabled:hover {
    color: #666;
  }
}

.sectionMover {
  display: inline;
  font-size: 0.85em;
  .buttonLink();
  color: @default_text_color;

  &:focus,
  &:hover {
    color: @color_highlight;
  }

  &:disabled:hover {
    color: @color_highlight;
  }
}